
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');


*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}


:root {
    --ff-sans: 'Overpass', sans-serif;
/* font size*/
    --fs: 0.9375rem
/* font weight */
    --fw-normal: 400;
    --fw-heavy: 700;
/* colour */
/***************Primary**************/
--clr-prmy-orange: hsl(22, 89%, 52%);
/***************Neutral**************/

    --clr-ntrl-white: hsl(0, 0%, 100%);
    --clr-ntrl-light-grey: hsl(217, 12%, 63%);
    --clr-ntrl-dark-blue: hsl(213, 19%, 18%);
    --clr-ntrl-very-dark-blue:  hsl(216, 12%, 8%);
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: auto;
    overflow: hidden;
    font-family: var(--ff-sans);
}

li {
    list-style-type: none;
}

.container {
    width: 327px;
    height: 360px;
    border: none
    border-radius: 15px;
    background-color: var(--clr-ntrl-very-dark-blue);
    padding: 24px;
}

.container__star {
    padding: 13.33px;
    width: 40px;
    height: 40px;
    background-color: var(--clr-ntrl-dark-blue);
    border-radius: 50px;
    margin-bottom: 16px;

    .star {
        width: 13.96px;
        height: 13.33px;
    }
}

h1 {
    color: var(--clr-ntrl-white);
    font-size: 2rem;
    margin-bottom: 17px;
} 

p {
 font-size: 14px;
 color: var(--clr-ntrl-light-grey);
 line-height: 22px;
}

.rating-content {
    display: flex;
    padding: 0px;
    justify-content: space-between;
}

.btn {
    height: 42px;
    width: 42px;
    border-radius: 50px;
    background-color: var(--clr-ntrl-dark-blue);
    border: none;
    color: var(--clr-ntrl-light-grey);
    margin-block: 24px;
    font-weight: var(--fw-heavy);
    transition: all 0.2s ease-in;
    cursor: pointer;
}

.btn:hover {
    background-color: grey;
    color: white;
}

input {
    background-color: var(--clr-prmy-orange);
    width: 279px;
    height: 45px;
    border-radius: 22.5px;
    border: none;
    letter-spacing: 1.87px;
    font-weight: var(--fw-heavy);
    font-size: 14px;
    cursor: pointer;
    transition: 0.2s ease-in;
    letter-spacing: 2px;
}

input:hover{
    background-color: white;
    color: black;
}

#thank-you {
    border: none;
    width: 327px;
    height: 360px;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    padding: 24px;
    align-items: center;
}

.thank-you-image img {
    width: 144px;
    height: 96px;
}

.dynamic-text {
    margin-block: 24px;
    color: var(--clr-prmy-orange);
    font-size: 14px;
    line-height: 22px;
}

#thank-you h2 {
    color: white;
    margin-bottom: 17px;
    font-size: 24px;
    font-weight: var(--fw-heavy);
}

#thank-you .we {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    
}

@media (min-width: 1440px){
    .container {
        width: 412px;
        height: 416px;
        border-radius: 30px;
    }
}